# Ministerio Publico

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import seaborn as sns

In [ ]:
df = pd.read_excel('/content/sample_data/Copy of Nómina Personal Fijo Enero 2023.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8768 entries, 0 to 8767
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cant.                8767 non-null   float64
 1   Nombres y Apellidos  8768 non-null   object
 2   Cargo                8767 non-null   object
 3   Departamento         8767 non-null   object
 4   Estado               8767 non-null   object
 5   Genero               8767 non-null   object
 6   Ingreso Bruto        8768 non-null   float64
 7   AFP                  8768 non-null   float64
 8   ISR                  8768 non-null   float64
 9   SFS                  8768 non-null   float64
 10  Otros Desc.          8768 non-null   float64
 11  Total Desc.          8768 non-null   float64
 12  Neto                 8768 non-null   float64
dtypes: float64(8), object(5)
memory usage: 890.6+ KB

In [ ]:
df.drop(['Cant.', 'Estado', 'ISR', 'Otros Desc.', 'Total Desc.'],  axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8768 entries, 0 to 8767
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Nombres y Apellidos  8768 non-null   object
 1   Cargo                8767 non-null   object
 2   Departamento         8767 non-null   object
 3   Genero               8767 non-null   object
 4   Ingreso Bruto        8768 non-null   float64
 5   AFP                  8768 non-null   float64
 6   SFS                  8768 non-null   float64
 7   Neto                 8768 non-null   float64
dtypes: float64(4), object(4)
memory usage: 548.1+ KB

In [ ]:
df.rename(columns={"Nombres y Apellidos" : "Nombre", "Genero" : "Sexo", "Ingreso Bruto" : "Sueldo bruto" , "Neto": "Sueldo neto"}, inplace = True )
df.dropna()
df.drop(df[df['Nombre'] == 'TOTALES'].index, inplace= True)
df

,Nombre,Cargo,Departamento,Sexo,Sueldo bruto,AFP,SFS,Sueldo neto
0,YAMIRKA NUÑEZ DISLA,AUXILIAR ADMINISTRATIVO,ALIMENTOS Y ECONOMATO,FEMENINO,43000.0,1234.10,1307.2,35206.07
1,LEIDY SABRINA MEDRANO PUJOLS,TÉCNICO ADMINISTRATIVO,ALIMENTOS Y ECONOMATO,FEMENINO,37000.0,1061.90,1124.8,34769.05
2,YURIDIA BURGOS SANCHEZ,CONTADOR (A) I,ALIMENTOS Y ECONOMATO,FEMENINO,39000.0,1119.30,1185.6,20040.47
3,LUIS ANTONIO DOMINGUEZ,AUXILIAR ADMINISTRATIVO,ALIMENTOS Y ECONOMATO,MASCULINO,26000.0,746.20,790.4,12671.23
4,DIEGO JOSE MUÑIZ ULLOA,TÉCNICO ADMINISTRATIVO,ALIMENTOS Y ECONOMATO,MASCULINO,40000.0,1148.00,1216.0,35882.77
...,...,...,...,...,...,...,...,...
8762,YIONATAN VALDEZ DADUS,ENCARGADO UNIDADES ESPECIALES,UNIDADES ESPECIALES,MASCULINO,90000.0,2583.00,2736.0,36786.63
8763,ANDRES ZARZUELA PUELLO,SUPERVISOR (A) DE AGENTES VTP,UNIDADES ESPECIALES,MASCULINO,40000.0,1148.00,1216.0,18345.00
8764,AMADO CABRERA GARCIA,DIRECTOR (A) DE CENTRO CORRECCIÓN Y REHABILITA...,UNIDADES ESPECIALES,MASCULINO,60500.0,1736.35,1839.2,50318.68
8765,MANUEL ANTONIO DE LEON MORA,AGENTE VTP,UNIDADES ESPECIALES,MASCULINO,27000.0,774.90,820.8,19825.12
8766,ANGEL ALFREDO UBRI ESPINO,AGENTE VTP,UNIDADES ESPECIALES,MASCULINO,27000.0,774.90,820.8,11182.75

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8767 entries, 0 to 8766
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        8767 non-null   object
 1   Cargo         8767 non-null   object
 2   Departamento  8767 non-null   object
 3   Sexo          8767 non-null   object
 4   Sueldo bruto  8767 non-null   float64
 5   AFP           8767 non-null   float64
 6   SFS           8767 non-null   float64
 7   Sueldo neto   8767 non-null   float64
dtypes: float64(4), object(4)
memory usage: 548.1+ KB

In [ ]:


df.to_excel('/content/sample_data/minpublico.xlsx')
df.to_csv('/content/sample_data/minpublico.csv')